@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}
.servicesHOme{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}
.serivesContainer1,
.serivesContainer2{
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.servicesCard{
position: relative;
width: 500px;
height: 180px;
background: #fff;
transition: 0.5s;
}
.servicesCard:hover{
    height: 450px;
}
.servicesCard .lines{
    position: absolute;
    inset: 0;
    background: black;
    overflow: hidden;
}
.servicesCard .lines::before{
    content : '';
    position: absolute;
    top: 50%;
    left: 50%;  
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,#45f3ff,#45f3ff,
    #45f3ff, transparent) ;
    animation: animates 4s linear infinite;
    animation-play-state: paused;
}
.servicesCard:hover .lines::before{
    animation-play-state: running   ;
}
@keyframes animates {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.servicesCard .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.servicesCard .Simg{
      position: absolute;
      top: -60px;
      left: 50%;
      width: 100px;
      height: 100px;
      transform: translateX(-50%);
      background: black;
      transition: 0.5s;  
      z-index: 10;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center   ;
}
.servicesCard:hover .Simg{
    top: 25px;
    width: 150px;
    height: 150px;
}
.servicesCard .Simg::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500Px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(transparent,#ff3c7b,#ff3c7b,
    #ff3c7b, transparent) ;
    animation: animates2 4s linear infinite;
    animation-play-state: paused;
}
.servicesCard:hover .Simg::before{
    animation-play-state: running;
}
@keyframes animates2 {
    0%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
.servicesCard .Simg::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.servicesCard .Simg img{
    position: absolute;
    z-index: 1;
    filter: invert(1);
    opacity: 0.5;
    transition: 0.5;
    width: 80px;
}
.servicesCard:hover .Simg img{
    opacity: 1;
}
.servicesCard .Scontent{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.servicesCard .Scontent .Sdetails{
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}
.servicesCard:hover .Scontent .Sdetails{
    transform: translateY(0px);
}
.servicesCard .Scontent .Sdetails h2{
    font-size: 1.5em;
    font-weight: 500;
    color: #45f3ff;
    line-height: 1.2em;
}
.servicesCard .Scontent .Sdetails p{
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.servicesCard .Scontent .Sdetails a{
    display: inline-block;
    padding: 8px 15px;
    background: #45f3ff;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}
.servicesCard:hover .Scontent .Sdetails p,
.servicesCard:hover .Scontent .Sdetails a{
    opacity: 1;
}